@import url('https://fonts.google.com/specimen/Rubik');
body{
    font-family: 'Rubik';
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.inlineBlock{
    display: inline-block;
}
input:focus {outline:none;}
#high{
    padding-top: 50px;
    width:100%;
    height: 300px;
    background-image: url(./images/pattern-bg.png);
}
#title{
    margin: 0 auto;
    width: 300px;
    font-size: 30px;
    text-align: center;
    color: white;
}
#space1{
    height: 30px;
}
#search{
    margin:0 auto;
    width: 350px;
    height: 33px;
    border: black 1px solid;
    border-radius: 13px;
    background-color: white;
}
#searchBox{
    margin-left: 3px;
    width:295px;
    height:20px;
    border: none;
    text-align: left;
}
#submitBox{
    margin-left: 18px;
    width: 30px;
    height:33px;
    font-size: 20px;
    border-radius: 0px 12px 12px 0px;
    border: none;
    background-color: black;
    color: white;
}
#space2{
    height: 142px;
}
#info{
    margin: 0 auto;
    padding:25px;
    width: 790px;
    height: 80px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    z-index: 10000;
    position: relative;
}
.infoBoxes{
    margin-left: 40px;
    margin-right: 10px;
    width:140px;
    height: 80px;
    vertical-align: top;
    border-right:1px solid lightgray;
}
.fontGrey{
    color:gray;
}
#lastInfoBox{
    border:none;
}
#mapid { height: 500px; z-index: 0 ; }